# Virtual environments
env/
venv/

# Compiled files
*.pyc
*.pyo
__pycache__/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Django static and media
staticfiles/
media/

# Node.js dependencies
node_modules/

# Other large files
*.sqlite3
*.env
