<!-- Home page (user's profile)-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% include 'exercise_bar.html' %}

    <!-- exercise 2 flag display -->
    {% if flag_ex2 %}
        <div class="position-absolute top-0 end-0 p-3 padding-10">
            <div class="alert alert-success text-end shadow-lg">
                <strong>Congratulations!</strong> You found the flag for Exercise 2: <span class="fw-bold">{{ flag_ex2 }}</span>
            </div>
        </div>
    {% endif %}


    <!-- Top buttons -->
    <div class="top-buttons">
        <a href="{% url 'feed' %}" class="btn-top">Feed</a>
        <a href="{% url 'logout' %}" class="btn-top">Logout</a>
        {% block content %}
        {% if request.user == profile.user %}
            {% if request.COOKIES.role == "moderator" %}
                <a href="{% url 'moderator_dashboard' %}" class="btn-top">Moderator Dashboard</a> 
            {% endif %}
        {% endif %}
        {% endblock %}
    </div>
    
    <div class="settings-container">
        <a href="{% url 'user_settings' %}">
            <img src="{% static 'images/setting.png' %}" alt="Settings icon" class="settings-icon">
        </a>
    </div>


    <!-- Main content -->
    <div class="main-content">
        <div class="profile-header text-center">
            <h1>{{ user.username }}</h1>
            <div class="stats">
                <div>
                    <h4>{{ profile.followed_by.count }}</h4>
                    <a href="{% url 'followers' profile.pk %}" class="btn btn-profile">Followers</a>
                </div>
                <div>
                    <h4>{{ profile.follows.count }}</h4>
                    <a href="{% url 'following' profile.pk %}" class="btn btn-profile">Following</a>
                </div>                
                <div>
                    <h4>{{ user.posts.count }}</h4>
                    <p>posts</p>
                </div>
            </div>
        </div>

        <div class="posts-container">
            <h2 class="text-center">Your Posts</h2>
            <div class="posts-scrollable overflow-auto p-3">
                {% for post in profile.user.posts.all %}
                <div class="post card shadow-sm p-3 mb-3">
                    <p class="mb-1">{{ post.body }}</p>
                    <p class="text-muted small">({{ post.created_at }})</p>
                </div>
                {% empty %}
                <p class="text-center">No posts yet.</p>
                {% endfor %}
            </div>
        </div>

</body>
</html>
